.popup__container_confirmation-type {
    max-width: 240px;
    min-height: 258px;
}

@media screen and (min-width: 600px) {
    .popup__container_confirmation-type {
        max-width: 430px;
        min-height: 180px;
    }
}