.popup__button-close {
    background-image: url(./../../../images/icons/close.svg);
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 100%;
    right: -9%
}