.card__button-like {
    position: absolute;
    border: none;
    background-image: url('../../../images/icons/heart.svg');
    width: 21px;
    height: 18px;
    background-color: white;
    right: 19px;
    bottom: 39px;
    transition: 0.3s;
}

@media screen and (max-width: 767px) {
    .card__button-like {
        right: 17px;
        bottom: 27px;
    }
}
